<%- include('../partials/head') %>

    <body>
        <header>
            <h1>Mini Message Board</h1>

        </header>
        <div class="containerMain">
            <div class="containerMessages">
                <% messages.forEach((message)=> { %>
                    <div class="messageCard">
                        <p>
                            <%= message.username %>
                        </p>
                        <p>
                            <%= message.text %>
                        </p>
                        <p>
                            <%= message.added %>
                        </p>
                        <a class="linkT" href="/message?id=<%= message.id %>">See Message</a>
                    </div>
                    <% }) %>
            </div>

            <a class="linkIndex" href="/new">New Message</a>


        </div>


    </body>

    <%- include('../partials/footer') %>