<%- include('../partials/head') %>

    <body>
        <header>
            <h1>Message Details</h1>
        </header>
        <div class="containerDetailMessage">
            <div>
                <div>
                    <p>Message Text:</p>
                    <p>
                        <%= message.text %>

                    </p>
                </div>
                <div>
                    <p>Message Send by:</p>
                    <p>
                        <%= message.username %>

                    </p>
                </div>
                <div>
                    <p>Message Date:</p>
                    <p>
                        <%= message.added %>

                    </p>
                </div>
            </div>
            <a href="/">Home</a>


        </div>

    </body>


    <%- include('../partials/footer') %>